				<%= form_for @drive, html: { novalidate: true } do |f| %>
<% if @drive.errors.any? %>
	<% @drive.errors.full_messages.each do |msg| %>
					<p><%= msg %></p>
	<% end %>
<% end %>
					<div class="fieldSet">
						<div class="fieldSet-column">
							<p class="subheader">Required Information</p>

							<div class="field field--text <%= "has-error" if @drive.errors.include? :name %>">
								<%= f.label :name, "Drive Name", class: "is-required" %>
								<%= f.text_field :name, placeholder: "hg80ua", required: true, autofocus: true %>
<% if @drive.errors.include? :name %>
								<div class="field field--text-error"><%= @drive.errors.full_messages_for(:name).first %></div>
<% end %>
							</div>

							<div class="field field--text <%= "has-error" if @drive.errors.include? :capacity %>">
								<%= f.label :capacity, "Capacity (in GB)", class: "is-required" %>
								<%= f.text_field :capacity, placeholder: "8000", required: true %>
<% if @drive.errors.include? :capacity %>
								<div class="field field--text-error"><%= @drive.errors.full_messages_for(:capacity).first %></div>
<% end %>
							</div>

							<div class="field field--text <%= "has-error" if @drive.errors.include? :format %>">
								<%= f.label :format, "Format (ex. HDD, SSD)", class: "is-required" %>
								<%= f.text_field :format, placeholder: "HDD", required: true %>
<% if @drive.errors.include? :format %>
								<div class="field field--text-error"><%= @drive.errors.full_messages_for(:format).first %></div>
<% end %>
							</div>

							<div class="field field--text <%= "has-error" if @drive.errors.include? :serial_number %>">
								<%= f.label :serial_number, "Serial Number", class: "is-required" %>
								<%= f.text_field :serial_number, placeholder: "2EG20GDG", required: true %>
<% if @drive.errors.include? :serial_number %>
								<div class="field field--text-error"><%= @drive.errors.full_messages_for(:serial_number).first %></div>
<% end %>
							</div>

							<div class="divider"></div>
							<p class="subheader">Usage Information</p>

							<div class="field">
								<%= f.label :machine %>
								<%= f.collection_select :machine_id, Machine.all, :id, :name, include_blank: "Select:" %>
							</div>

							<div class="field field--text <%= "has-error" if @drive.errors.include? :usage %>">
								<%= f.label :usage %>
								<%= f.text_field :usage, placeholder: "/b1" %>
<% if @drive.errors.include? :usage %>
								<div class="field field--text-error"><%= @drive.errors.full_messages_for(:usage).first %></div>
<% end %>
							</div>
						</div>

						<div class="fieldSet-column">
							<p class="subheader">Other Information</p>

							<div class="field field--text <%= "has-error" if @drive.errors.include? :manufacturer %>">
								<%= f.label :manufacturer, "Manufacturer" %>
								<%= f.text_field :manufacturer, placeholder: "HGST" %>
<% if @drive.errors.include? :manufacturer %>
								<div class="field field--text-error"><%= @drive.errors.full_messages_for(:manufacturer).first %></div>
<% end %>
							</div>

							<div class="field field--text <%= "has-error" if @drive.errors.include? :part_number %>">
								<%= f.label :part_number, "Part or Model Number" %>
								<%= f.text_field :part_number, placeholder: "HUH728080ALE600" %>
<% if @drive.errors.include? :part_number %>
								<div class="field field--text-error"><%= @drive.errors.full_messages_for(:part_number).first %></div>
<% end %>
							</div>

							<div class="field field--text <%= "has-error" if @drive.errors.include? :warranty_exp %>">
								<%= f.label :warranty_exp, "Warranty Expiration" %>
								<%= f.date_field :warranty_exp, placeholder: "November 2017" %>
<% if @drive.errors.include? :warranty_exp %>
								<div class="field field--text-error"><%= @drive.errors.full_messages_for(:warranty_exp).first %></div>
<% end %>
							</div>

							<div class="field field--textarea <%= "has-error" if @drive.errors.include? :notes %>">
								<%= f.label :notes %>
								<%= f.text_area :notes %>
<% if @drive.errors.include? :notes %>
								<div class="field field--text-error"><%= @drive.errors.full_messages_for(:notes).first %></div>
<% end %>
							</div>
						</div>
					</div>

					<div>
						<%= f.submit "Done", class: "button button--first", title: "Submit" %>
					</div>
				<% end %>