<% page_title "Drive: #{@drive.name}" %>
			<article class="focus focus--top">
				<div class="group">
					<%= link_to drives_path, class: "icon fl", title: "Drive Index" do %>
						<svg><use xlink:href="#icon-back"></use></svg>
					<% end %>
					<div class="subheader fr">
						Last noted <%= @drive.updated_at.strftime("%l:%M%P on %-m/%-d/%y") %>
					</div>
				</div>

				<div class="list">
					<div class="list-item">
						<span class="list-key">Summary</span>
						<span class="list-value"><%= @drive.manufacturer %> <%= @drive.nice_capacity %> <%= @drive.format %></span>
					</div>
					<div class="list-item">
						<span class="list-key">Serial Number</span>
						<span class="list-value"><%= @drive.serial_number %></span>
					</div>
					<div class="list-item">
						<span class="list-key">Location</span>
						<span class="list-value"><%= @drive.location %></span>
					</div>
				</div>

<% if !@drive.alerts.blank? %>
				<div class="divider"></div>
				<p class="subheader subheader--padded">Alerts (<%= @drive.alerts.count %>)</p>
	<% for alert in @drive.alerts %>
				<div class="tile">
					<%= link_to alert, class: "icon tile-icon--a", title: "View Alert" do %>
						<svg><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to alert, class: "tile-action tile-action--focus", title: "View Alert" do %>
						<div class="tile-text">
							<div class="tile-title">
								<%= alert.name %>
							</div>
							<div class="tile-subtitle">
								<%= alert.message %>
							</div>
						</div>
					<% end %>
					<%= link_to alert, method: :delete, data: {confirm: "Are you sure you want to remove the alert #{alert.name}?"}, class: "icon tile-icon--b", title: "Remove Alert" do %>
						<svg><use xlink:href="#icon-cross"></use></svg>
					<% end %>
				</div>
	<% end %>
<% end %>

				<div class="divider"></div>
				<div class="list">
<% if @drive.part_number.present? %>
					<div class="list-item">
						<span class="list-key">Part Number</span>
						<span class="list-value"><%= @drive.part_number %></span>
					</div>
<% end %>
<% if @drive.warranty_exp.present? %>
					<div class="list-item">
						<span class="list-key">Warranty Exp.</span>
						<span class="list-value"><%= @drive.warranty_exp.strftime("%-m/%-d/%Y") %></span>
					</div>
<% end %>
					<div class="list-item">
						<span class="list-key">Notes</span>
						<span class="list-value"><%= @drive.notes || "None" %></span>
					</div>
				</div>

<% if @status.present? %>
				<div class="divider"></div>
				<p class="subheader">Drive Status (as of <%= @status.created_at.strftime("%l:%M%P on %-m/%-d/%y") %>)</p>
				<div class="list">
					<div class="list-item">
						<div class="list-key">Reallocated Sectors</div>
						<div class="list-value"><%= @status.reallocations %></div>
					</div>
					<div class="list-item">
						<div class="list-key">Pending Reallocations</div>
						<div class="list-value"><%= @status.pending %></div>
					</div>
					<div class="list-item">
						<div class="list-key">Uncorrectable Errors</div>
						<div class="list-value"><%= @status.uncorrectable %></div>
					</div>
				</div>
<% end %>

				<div class="divider"></div>
				<div>
					<%= link_to "Edit", edit_drive_path(@drive), class: "button button--first", title: "Edit Drive" %>
					<%= link_to "Remove", @drive, method: :delete, class: "button button--danger", data: {confirm: "Are you sure you want to remove the drive #{@drive.name}?"}, title: "Remove Drive" %>
				</div>
			</article>