<% page_title "Disks" %>
			<article class="focus focus--top">
				<p>
					<a class="button button--icon" href="<%= url_for root_path %>">
						<svg class="icon"><use xlink:href="#icon-home"></use></svg>
					</a>
					<a class="button button--icon" href="<%= url_for new_disk_path %>">
						<svg class="icon"><use xlink:href="#icon-plus"></use></svg>
					</a>
					<span class="tsm fr"><%= pluralize(@disks.count, "Disk") %> Registered</span>
				</p>

<% if !@disks.blank? %>
				<p class="subheader subheader--padded">Disks</p>
	<% for disk in @disks %>
				<div class="tile">
					<%= link_to disk, class: "tile-action" do %>
						<svg class="tile-icon tile-icon--a"><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to disk, class: "tile-action tile-action--focus" do %>
						<div class="tile-text">
							<div class="tile-title">
								<%= disk.name %>
								<%= "(" + pluralize(disk.alerts.count, 'Alert') + ")" if disk.alerts.any? %>
							</div>
							<div class="tile-subtitle">
								<%= disk.format %> &mdash;
								<%= disk.nice_capacity %>
								<%= "&mdash; ".html_safe + disk.location unless disk.location.blank? %>
							</div>
						</div>
					<% end %>
					<%= link_to edit_disk_path(disk), class: "tile-action" do %>
						<svg class="tile-icon tile-icon--b"><use xlink:href="#icon-edit"></use></svg>
					<% end %>
				</div>
	<% end %>
<% else %>
				<p>There are no disks to display.</p>
<% end %>
			</article>
