<% page_title "Disks" %>
			<article class="focus focus--top">
				<%= link_to new_disk_path, class: "icon icon--float", title: "Add Disk" do %>
					<svg><use xlink:href="#icon-plus"></use></svg>
				<% end %>
<% if !@disks_with_alerts.blank? %>
				<p class="subheader subheader--padded">Disks with Alerts (<%= @disks_with_alerts.count %>)</p>
	<% for disk in @disks_with_alerts %>
				<div class="tile">
					<%= link_to disk, class: "icon tile-icon--a", title: "View Disk" do %>
						<svg><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to disk, class: "tile-action tile-action--focus", title: "View Disk" do %>
						<div class="tile-text">
							<div class="tile-title">
								<%= disk.name %>
								<%= "(" + pluralize(disk.alerts.count, 'Alert') + ")" if disk.alerts.any? %>
							</div>
							<div class="tile-subtitle">
								<%= disk.format %> &mdash;
								<%= disk.nice_capacity %>
								<%= "&mdash; ".html_safe + disk.location unless disk.location.blank? %>
							</div>
						</div>
					<% end %>
					<%= link_to edit_disk_path(disk), class: "icon tile-icon--b", title: "Edit Disk" do %>
						<svg><use xlink:href="#icon-edit"></use></svg>
					<% end %>
				</div>
	<% end %>
				<div class="divider"></div>
<% end %>

<% if !@disks.blank? %>
				<p class="subheader subheader--padded">All Disks (<%= @disks.count %>)</p>
	<% for disk in @disks %>
				<div class="tile">
					<%= link_to disk, class: "icon tile-icon--a", title: "View Disk" do %>
						<svg><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to disk, class: "tile-action tile-action--focus", title: "View Disk" do %>
						<div class="tile-text">
							<div class="tile-title">
								<%= disk.name %>
								<%= "(" + pluralize(disk.alerts.count, 'Alert') + ")" if disk.alerts.any? %>
							</div>
							<div class="tile-subtitle">
								<%= disk.format %> &mdash;
								<%= disk.nice_capacity %>
								<%= "&mdash; ".html_safe + disk.location unless disk.location.blank? %>
							</div>
						</div>
					<% end %>
					<%= link_to edit_disk_path(disk), class: "icon tile-icon--b", title: "Edit Disk" do %>
						<svg><use xlink:href="#icon-edit"></use></svg>
					<% end %>
				</div>
	<% end %>
<% else %>
				<p class="subheader subheader--padded">There are no disks to display.</p>
<% end %>
			</article>
