<% page_title "Change Your Password" %>
			<article class="focus focus--top">
				<%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put, novalidate: true } do |f| %>
					<%= f.hidden_field :reset_password_token %>

					<div class="field field--text <%= "has-error" if resource.errors.include? :password %>">
						<%= f.label :password, "New Password" %>
						<%= f.password_field :password, placeholder: "8 Characters Minimum", required: true, autofocus: true, autocomplete: "off" %>
<% if resource.errors.include? :password %>
						<div class="field field--text-error"><%= resource.errors.full_messages_for(:password).first %></div>
<% end %>
					</div>

					<div class="field field--text <%= "has-error" if resource.errors.include? :password_confirmation %>">
						<%= f.label :password_confirmation, "Confirm Password" %>
						<%= f.password_field :password_confirmation, required: true, autocomplete: "off" %>
<% if resource.errors.include? :password_confirmation %>
						<div class="field field--text-error"><%= resource.errors.full_messages_for(:password_confirmation).first %></div>
<% end %>
					</div>

					<div class="divider"></div>
					<div>
						<%= f.submit "Change Password", class: "button button--first button--danger" %>
						<%= link_to "Log In", new_session_path(resource_name), class: "button", title: "Log In" %>
						<%= link_to "Sign Up", new_registration_path(resource_name), class: "button", title: "Sign Up" %>
					</div>
				<% end %>
			</article>
