<% page_title "Alerts" %>
			<article class="focus focus--top">
				<p>
					<a class="button button--icon" href="<%= url_for root_path %>">
						<svg class="icon"><use xlink:href="#icon-home"></use></svg>
					</a>
					<span class="tsm fr"><%= pluralize(@alerts.count, "Alert") %></span>
				</p>

<% if !@alerts.blank? %>
				<p class="subheader subheader--padded">Alerts</p>
	<% for alert in @alerts %>
				<div class="tile">
					<%= link_to alert, class: "tile-action" do %>
						<svg class="tile-icon tile-icon--a"><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to alert, class: "tile-action tile-action--focus" do %>
						<div class="tile-text">
							<div class="tile-title">
								<%= alert.name %>
								<%= "(" + alert.alertable.name + ")" if alert.alertable.present? %>
							</div>
							<div class="tile-subtitle">
								<%= alert.message %>
							</div>
						</div>
					<% end %>
					<%= link_to alert, method: :delete, data: {confirm: "Are you sure you want to remove #{alert.name}?"}, class: "tile-action" do %>
						<svg class="tile-icon tile-icon--b"><use xlink:href="#icon-cross"></use></svg>
					<% end %>
				</div>
				<!-- <p class="mbf">
					<%= link_to alert, class: "button button--icon" do %>
						<svg class="icon"><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to alert, method: :delete, data: {confirm: "Are you sure you want to remove #{alert.name}?"}, class: "button button--icon" do %>
						<svg class="icon"><use xlink:href="#icon-cross"></use></svg>
					<% end %>
					<span class="twb"><%= alert.name %><%= " (" + alert.alertable.name + ")" if alert.alertable.present? %></span> &mdash; 
					<%= alert.message.truncate(50, separator: ' ') %>
				</p> -->
	<% end %>
<% else %>
				<p>There are no alerts to display.</p>
<% end %>
			</article>