<% page_title "Alerts" %>
			<article class="focus focus--top">
<% if !@alerts.blank? %>
				<p class="subheader subheader--padded">Alerts (<%= @alerts.count %>)</p>
	<% for alert in @alerts %>
				<div class="tile">
					<%= link_to alert, class: "icon tile-icon--a", title: "View Alert" do %>
						<svg><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to alert, class: "tile-action tile-action--focus", title: "View Alert" do %>
						<div class="tile-text">
							<div class="tile-title">
								<%= alert.name %>
								<%= "(" + alert.alertable.name + ")" if alert.alertable.present? %>
							</div>
							<div class="tile-subtitle">
								<%= alert.message %>
							</div>
						</div>
					<% end %>
					<%= link_to alert, method: :delete, data: {confirm: "Are you sure you want to remove #{alert.name}?"}, class: "icon tile-icon--b", title: "Remove Alert" do %>
						<svg><use xlink:href="#icon-cross"></use></svg>
					<% end %>
				</div>
	<% end %>
<% else %>
				<p>There are no alerts to display.</p>
<% end %>
			</article>