<% page_title "Alert: #{@alert.name}" %>
			<article class="focus focus--top group">
				<div class="group">
					<%= link_to alerts_path, class: "icon fl", title: "Alerts Index" do %>
						<svg><use xlink:href="#icon-back"></use></svg>
					<% end %>
					<div class="subheader fr">
						Last noted <%= @alert.updated_at.strftime("%l:%M%P on %-m/%-d/%y") %>
					</div>
				</div>

				<p class="subheader">Message</p>
				<p><%= @alert.message %></p>

<% if @alert.alertable.present? %>
				<div class="divider"></div>
				<p class="subheader">Related Property</p>
				<%= link_to @alert.alertable do %>
					<p><%= @alert.alertable.name %> (<%= @alert.alertable_type %>)</p>
				<% end %>
<% end %>

				<div class="divider"></div>
				<p class="subheader">Notes</p>
				<p>This alert has been recorded <%= pluralize(@alert.multiplicity, "time") %>. It was last reported <%= @alert.updated_at.strftime("%l:%M%P on %-m/%-d/%y") %>.</p>

				<div class="divider"></div>
				<div>
					<%= link_to "Remove", @alert, method: :delete, class: "button button--danger button--first", data: {confirm: "Are you sure you want to remove the alert #{@alert.name}?"}, title: "Remove Alert" %>
				</div>
			</article>