<% page_title "Log In" %>
			<article class="focus focus--top">
				<%= form_for resource, as: resource_name, url: session_path(resource_name), html: {novalidate: true} do |f| %>
					<div class="field field--text">
						<%= f.label :email, "Your Email", class: "is-required" %>
						<%= f.email_field :email, placeholder: "you@example.com", required: true, autofocus: true %>
					</div>

					<div class="field field--text">
						<%= f.label :password, "Your Password", class: "is-required" %>
						<%= f.password_field :password, required: true, autocomplete: "off" %>
					</div>

					<div class="divider"></div>
					<div>
						<%= f.submit "Log In", class: "button button--first button--danger", title: "Log In" %>
						<%= link_to "Sign Up", new_registration_path(resource_name), class: "button", title: "Sign Up" %>
						<%= link_to "I Forgot", new_password_path(resource_name), class: "button", title: "Forgot Password" %>
					</div>
				<% end %>
			</article>