				<%= form_for @machine, html: {novalidate: true} do |f| %>
<% if @machine.errors.any? %>
	<% @machine.errors.full_messages.each do |msg| %>
					<p><%= msg %></p>
	<% end %>
<% end %>
					<div class="fieldSet">
						<div class="fieldSet-column">
							<p class="subheader">Basic Information</p>

							<div class="field field--text <%= "has-error" if @machine.errors.include? :name %>">
								<%= f.label :name, "Machine Name", class: "is-required" %>
								<%= f.text_field :name, placeholder: "Rob's Desktop", required: true, autofocus: true %>
<% if @machine.errors.include? :name %>
								<div class="field field--text-error"><%= @machine.errors.full_messages_for(:name).first %></div>
<% end %>
							</div>

							<div class="field field--text <%= "has-error" if @machine.errors.include? :location %>">
								<%= f.label :location, "Physical Location" %>
								<%= f.text_field :location, placeholder: "PSB 354" %>
<% if @machine.errors.include? :location %>
								<div class="field field--text-error"><%= @machine.errors.full_messages_for(:location).first %></div>
<% end %>
							</div>

							<div class="field field--text <%= "has-error" if @machine.errors.include? :ip_address %>">
								<%= f.label :ip_address, "IP Address" %>
								<%= f.text_field :ip_address, placeholder: "10.0.0.1" %>
<% if @machine.errors.include? :ip_address %>
								<div class="field field--text-error"><%= @machine.errors.full_messages_for(:ip_address).first %></div>
<% end %>
							</div>
						</div>

						<div class="fieldSet-column">
							<p class="subheader">Extended Attributes</p>
<%= f.fields_for :info do |i| %>
	<% for ex_attr in @ex_attrs %>
							<div class="field field--text">
								<%= i.label ex_attr.name, ex_attr.name %>
								<%= i.text_field ex_attr.name, value: @machine.info[ex_attr.name], placeholder: "Optional Attribute" %>
							</div>
	<% end %>
<% end %>
						</div>
					</div>

					<div>
						<%= f.submit "Done", class: "button button--first", title: "Submit" %>
<% if @machine.new_record? %>
						<%= link_to "Cancel", machines_path, class: "button button--danger", title: "Discard Creation" %>
<% else %>
						<%= link_to "Cancel", @machine, class: "button button--danger", title: "Discard Changes" %>
<% end %>
					</div>
				<% end %>