<% page_title "Machines" %>
			<article class="focus focus--top">
				<p>
					<a class="button button--icon" href="<%= url_for root_path %>">
						<svg class="icon"><use xlink:href="#icon-home"></use></svg>
					</a>
					<a class="button button--icon" href="<%= url_for new_machine_path %>">
						<svg class="icon"><use xlink:href="#icon-plus"></use></svg>
					</a>
					<span class="tsm fr"><%= pluralize(@machines.count, "Computer") %> Registered</span>
				</p>

<% if !@machines.blank? %>
				<p class="subheader subheader--padded">Machines</p>
	<% for machine in @machines %>
				<div class="tile">
					<%= link_to machine, class: "tile-action" do %>
						<svg class="tile-icon tile-icon--a"><use xlink:href="#icon-view"></use></svg>
						<div class="tile-text">
							<div class="tile-title">
								<%= machine.name %>
								<%= "(" + pluralize(machine.alerts.count, 'Alert') + ")" if machine.alerts.any? %>
							</div>
							<div class="tile-subtitle">
								<%= machine.location %> &mdash;
								<%= machine.ip_address %>
							</div>
						</div>
					<% end %>
					<%= link_to edit_machine_path(machine), class: "tile-action fr" do %>
						<svg class="tile-icon tile-icon--b"><use xlink:href="#icon-edit"></use></svg>
					<% end %>
				</div>
				<!-- <p>
					<%= link_to machine, class: "button button--icon" do %>
						<svg class="icon"><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to edit_machine_path(machine), class: "button button--icon" do %>
						<svg class="icon"><use xlink:href="#icon-edit"></use></svg>
					<% end %>
					<%= link_to machine, method: :delete, data: {confirm: "Are you sure you want to remove #{machine.name}?"}, class: "button button--icon" do %>
						<svg class="icon"><use xlink:href="#icon-cross"></use></svg>
					<% end %>
					<span class="twb"><%= machine.name %></span> &mdash; <%= pluralize(machine.alerts.count, "Alerts") %>
				</p> -->
	<% end %>
<% else %>
				<p>There are no machines to display.</p>
<% end %>
			</article>