<% page_title "Machines" %>
			<article class="focus focus--top">
				<%= link_to new_machine_path, class: "icon icon--float", title: "Add Machine" do %>
					<svg><use xlink:href="#icon-plus"></use></svg>
				<% end %>

<% if !@machines_with_alerts.blank? %>
				<p class="subheader subheader--padded">Machines with Alerts (<%= @machines_with_alerts.count %>)</p>
	<% for machine in @machines_with_alerts %>
				<div class="tile">
					<%= link_to machine, class: "icon tile-icon--a", title: "View Machine" do %>
						<svg><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to machine, class: "tile-action tile-action--focus", title: "View Machine" do %>
						<div class="tile-text">
							<div class="tile-title">
								<%= machine.name %>
								<%= "(" + pluralize(machine.alerts.count, 'Alert') + ")" if machine.alerts.any? %>
							</div>
							<div class="tile-subtitle"><%= machine.nice_location %></div>
						</div>
					<% end %>
					<%= link_to edit_machine_path(machine), class: "icon tile-icon--b", title: "Edit Machine" do %>
						<svg><use xlink:href="#icon-edit"></use></svg>
					<% end %>
				</div>
	<% end %>
				<div class="divider"></div>
<% end %>

<% if !@machines.blank? %>
				<p class="subheader subheader--padded">All Machines (<%= @machines.count %>)</p>
	<% for machine in @machines %>
				<div class="tile">
					<%= link_to machine, class: "icon tile-icon--a", title: "View Machine" do %>
						<svg><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to machine, class: "tile-action tile-action--focus", title: "View Machine" do %>
						<div class="tile-text">
							<div class="tile-title">
								<%= machine.name %>
								<%= "(" + pluralize(machine.alerts.count, 'Alert') + ")" if machine.alerts.any? %>
							</div>
							<div class="tile-subtitle">
								<%= machine.location %> &mdash;
								<%= machine.ip_address %>
							</div>
						</div>
					<% end %>
					<%= link_to edit_machine_path(machine), class: "icon tile-icon--b", title: "Edit Machine" do %>
						<svg><use xlink:href="#icon-edit"></use></svg>
					<% end %>
				</div>
	<% end %>
<% else %>
				<p class="subheader subheader--padded">There are no machines to display.</p>
<% end %>
			</article>