<% page_title "Machine Extended Attributes" %>
			<article class="focus focus--top">
<% if @ex_attrs.any? %>
				<p class="subheader">Current Properties</p>
				<div class="iconList">
	<% @ex_attrs.each do |ex_attr| %>
					<div class="iconList-item">
						<%= link_to ex_attr, method: :delete, class: "icon", title: "Remove Attribute" do %>
							<svg><use xlink:href="#icon-cross"></use></svg>
						<% end %>
						<div class="iconList-text"><%= ex_attr.name %></div>
					</div>
	<% end %>
				</div>
<% end %>

				<div class="divider"></div>
				<p class="subheader">Add Property</p>
				<%= form_for ExtendedAttribute.new do |f| %>
					<div class="textField">
						<%= f.label :name, "Name" %>
						<%= f.text_field :name, placeholder: "New Attribute" %>
					</div>
					<%= f.hidden_field :model, value: "machine" %>
					<%= f.submit "Create", class: "button button--first", title: "Submit" %>
				<% end %>
			</article>