<% page_title "Machine: #{@machine.name}" %>
			<article class="focus focus--top">
				<div class="group">
					<%= link_to machines_path, class: "icon fl", title: "Machine Index" do %>
						<svg><use xlink:href="#icon-back"></use></svg>
					<% end %>
					<div class="subheader fr">
						Last checked <%= @machine.updated_at.strftime("%l:%M%P on %-m/%-d/%y") %>
					</div>
				</div>

				<p class="subheader">Location</p>
				<p><%= @machine.nice_location %></p>
<% unless @machine.info.blank? %>
				<div class="divider"></div>
				<div class="list">
	<% @machine.info.sort.each do |key, value| %>
					<div class="list-item">
						<span class="list-key"><%= key %></span>
						<span class="list-value"><%= value %></span>
					</div>
	<% end %>
				</div>
<% end %>

				<div class="divider"></div>
				<div>
					<%= link_to "Edit", edit_machine_path(@machine), class: "button button--first", title: "Edit Machine" %>
					<%= link_to "Remove", @machine, method: :delete, class: "button button--danger", data: {confirm: "Are you sure you want to remove the machine #{@machine.name}?"}, title: "Remove Machine" %>
				</div>
			</article>