<% page_title "Machine: #{@machine.name}" %>
			<article class="focus focus--top">
				<div class="group">
					<%= link_to machines_path, class: "icon fl", title: "Machine Index" do %>
						<svg><use xlink:href="#icon-back"></use></svg>
					<% end %>
					<div class="subheader fr">
						Last checked <%= @machine.updated_at.strftime("%l:%M%P on %-m/%-d/%y") %>
					</div>
				</div>

				<p class="subheader">Location</p>
				<p><%= @machine.nice_location %></p>
<!-- <% unless @machine.info.blank? %>
				<div class="divider"></div>
				<div class="list">
	<% @machine.info.sort.each do |key, value| %>
					<div class="list-item">
						<span class="list-key"><%= key %></span>
						<span class="list-value"><%= value %></span>
					</div>
	<% end %>
				</div>
<% end %> -->

<% if @machine.drives.any? %>
				<div class="divider"></div>
				<p class="subheader subheader--padded">Related Drives</p>
	<% @machine.drives.each do |drive| %>
				<div class="tile">
					<%= link_to drive, class: "icon tile-icon--a", title: "View Drive" do %>
						<svg><use xlink:href="#icon-view"></use></svg>
					<% end %>
					<%= link_to drive, class: "tile-action tile-action--focus", title: "View Drive" do %>
						<div class="tile-text">
							<div class="tile-title">
								<%= drive.name %>
								<%= "(" + pluralize(drive.alerts.count, 'Alert') + ")" if drive.alerts.any? %>
							</div>
							<div class="tile-subtitle">
								<%= drive.format %> &mdash;
								<%= drive.nice_capacity %>
								<%= "&mdash; ".html_safe + drive.location unless drive.location.blank? %>
							</div>
						</div>
					<% end %>
					<%= link_to edit_drive_path(drive), class: "icon tile-icon--b", title: "Edit Drive" do %>
						<svg><use xlink:href="#icon-edit"></use></svg>
					<% end %>
				</div>
	<% end %>
<% end %>

				<div class="divider"></div>
				<div>
					<%= link_to "Edit", edit_machine_path(@machine), class: "button button--first", title: "Edit Machine" %>
					<%= link_to "Remove", @machine, method: :delete, class: "button button--danger", data: {confirm: "Are you sure you want to remove the machine #{@machine.name}?"}, title: "Remove Machine" %>
				</div>
			</article>