<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>System Manager | <%= yield :page_title %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
<%= render 'layouts/icon_defs' %>
<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>

		<section class="page">
<%= yield %>
		</section>

<%= render 'layouts/footer' %>

		<div class="modalOverlay" id="modalOverlay"></div>
		<script type="text/javascript">
			WebFontConfig = {
				google: { families: [ 'Roboto:400,400italic,500:latin' ] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();
		</script>
	</body>
</html>